* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap");
html {
  font-size: 100%;
}

table,
th,
td {
  border: 2px solid black;
  padding: 5px;
  border-collapse: collapse;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.recipe-img {
  height: 15rem;
  border-radius: var(--borderRadius);
  margin-bottom: 1rem;
}
