* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first_section {
  font-size: 14px;
  color: green;
  margin: 50px;
  padding: 50px 80px;
  border: 1px solid #ccc;
}

.first_section h1 {
  font-size: 18px;
}

.first_section p {
  margin-bottom: 10px;
}

.second_section {
  font-size: 14px;
  color: red;
  margin: 50px;
  padding: 50px 80px;
  border: 1px solid #ccc;
}

.second_section h1 {
  font-size: 18px;
}

.second_section p {
  margin-bottom: 5px;
}

.third_section {
  font-size: 14px;
  color: blue;
  margin: 50px;
  padding: 50px 80px;
  border: 1px solid #ccc;
}

.third_section h1 {
  font-size: 18px;
}

.third_section p {
  margin-bottom: 5px;
}
